server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/automacao
    username: automacao_user
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

  jackson:
    time-zone: America/Sao_Paulo
