.lampada-container {
  text-align: center;
}

.lampada {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 12px auto;
}

.lampada-on {
  background: #22c55e;
  box-shadow: 0 0 20px #22c55e;
}

.lampada-off {
  background: #ef4444;
}

.lampada-texto {
  font-weight: bold;
}