.card {
  background: #020617;
  border-radius: 12px;
  padding: 1.5rem;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 20px rgba(34, 211, 238, 0.25);
}

.label {
  font-size: 1.5rem;
  color: #94a3b8;
  margin-bottom: 0.5rem;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: #22d3ee;
}

.value > div {
  font-size: 1rem;
}